


body{
  margin: 0;
  padding: 0;

  background: radial-gradient(rgba(100,100,100,0.3),rgba(255, 5, 5, 0.5));
  text-align: center;
}
#nameDiv{
  margin-top: 50px;
}
.input{
  font-size: 25px;
  color: #004d00;
  font-weight: 700;
  font-family: cursive;
  margin-top: 20px;
}

#entry{
  width:150px;
  height: 40px;
  font-size: 23px;
  font-family: sans-serif;
  background-color: #001a66;
  color: whitesmoke;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
table{
  border-collapse:collapse;
  width: 50%;
  margin: 50px auto;
  background-color: burlywood;

}
table, th, td {
  border: 2px solid black;
  padding:5px;
}
 th{
   font-size: 30px;
   font-weight: 700;
   font-family: Arial;
   color:#004d00;

 }
 td{
   font-size: 25px;
   color:crimson;
   font-weight: 400;
   font-family: Georgia;
   
 }
